{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
</head>
<body>
    <section class="row">
        <header class="large-12 columns">
            <h1>Welcome to My Blog</h1>
            <hr>
            <h5>sumber belajar : https://test-driven-django-development.readthedocs.io/en/latest/03-views.html </h5>
            <h3>sudah ada tambahan</h3>
            <hr>
        </header>
    </section>
</body>
</html>